img.remove-product
{
	max-width: 30px;
	cursor: pointer;
}

.container.payment-methods
{
	img
	{
		width:32px;
		vertical-align: middle;
		margin:0 20px;	
	}

	.payment-method-name
	{
		font-size: 1.2em;
	}
}

.row.title-row
{
	font-size: 1.3em;

	div
	{
		font-weight: bold;
		text-align: center;
	}
}
